@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

img {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 480px;
    border: 1px solid red;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
    border: 1px solid red;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    border: 1px solid red;
  }
}

.secion-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.header {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.header__wrapper {
  display: flex;
}

.header__logo {
  padding-bottom: 25px;
  padding-top: 25px;
}

.header__box {
  display: flex;
  align-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.header__box:not(:first-child) {
  margin-left: auto;
}

.header__nav {
  display: flex;
  margin: auto auto 0 0;
}

.header__list {
  display: flex;
}

.header__logo-first {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.header__logo-second {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #212121;
}

.header__contacts {
  display: flex;
  margin-left: 331px;
}

.header__contactsItem:not(:last-child) {
  margin-right: 50px;
}

.header__contactsLink {
  white-space: nowrap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contactsLink:hover {
  color: #2196f3;
  fill: #2196f3;
}

.header__contactsSvg {
  margin-right: 10px;
}

/* Menu Burger */
.menu-button {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 320) and (max-width: 767px) {
  .menu-button {
    display: inline-flex;
  }
}

@media screen and (min-width: 768) and (max-width: 1199px) {
  .menu-button {
    display: none;
  }
}

@media screen and (min-width: 1200) {
  .menu-button .menu-button .icon-cross {
    display: none;
  }
  .menu-button .menu-button.is-open .icon-cross {
    display: block;
  }
  .menu-button .menu-button.is-open .icon-menu {
    display: none;
  }
}

/* Menu Burger END */
.menu {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.menu__list {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 93px;
}

.menu__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover {
  color: #2196f3;
}

.undertitle-active {
  position: relative;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;
}

.undertitle-active:before {
  position: absolute;
  content: "";
  height: 48px;
  border-bottom: solid 3px #2196f3;
  width: 100%;
  opacity: 1;
}

.undertitle:hover {
  position: relative;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.undertitle:hover:before {
  position: absolute;
  content: "";
  height: 48px;
  border-bottom: solid 3px #2196f3;
  width: 100%;
  opacity: 1;
  color: #2196f3;
}

.hero {
  background-color: #2f303a;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 767px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 767px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 320px) {
  .hero__title {
    width: 360px;
    font-size: 26px;
    line-height: 42px;
  }
}

@media screen and (min-width: 767px) {
  .hero__title {
    width: 360px;
    font-size: 26px;
    line-height: 42px;
  }
}

@media screen and (min-width: 1199px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 60px;
  }
}

.hero__button {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  border: none;
}

.overlay {
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 320px) {
  .advantages {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 767px) {
  .advantages {
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1199px) {
  .advantages {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}

@media screen and (min-width: 767px) {
  .advantages__item {
    flex-basis: calc(100% / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1199px) {
  .advantages__item:not(:last-child) {
    margin-right: 30px;
  }
}

.advantages__title {
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advantages__svg {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
  background: #f5f4fa;
  border-radius: 4px;
  text-align: center;
}

.advantages__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 320px) {
  .activity {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .activity {
    display: none;
  }
}

@media screen and (min-width: 1199px) {
  .activity {
    display: block;
    margin: 0 auto;
  }
}

.activity {
  border: 1px solid red;
}

.activity__title {
  text-align: center;
  margin-bottom: 50px;
}

.activity__list {
  display: flex;
  justify-content: center;
}

.activity__item {
  position: relative;
}

.activity__item:not(:last-child) {
  margin-right: 30px;
}

.activity__overlayText {
  display: flex;
  margin-top: 25px;
  justify-content: center;
}

.overlay-activity {
  position: absolute;
  width: 100%;
  height: 70px;
  top: 224px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.item {
  position: relative;
}

.overlay-activity p {
  display: flex;
  margin-top: 27px;
  justify-content: center;
}

/* TEAM */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .team {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__card:not(:last-child) {
  margin-right: 30px;
}

.team__title {
  text-align: center;
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  justify-content: center;
}

.team__list-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

.team__list-description {
  text-align: center;
  margin-bottom: 16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
}

.worker-icon {
  position: absolute;
  top: 29%;
  left: 29%;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.worker-icons__container {
  display: inline-block;
  position: relative;
  width: 44px;
  height: 44px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.worker-icons__container:hover {
  fill: #ffffff;
  background-color: #2196f3;
}

.worker-icons__container:hover svg {
  fill: #ffffff;
  background-color: #2196f3;
}

.worker-icons {
  padding-left: 32px;
  padding-right: 32px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .team__list {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 50%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.worker-icon {
  position: absolute;
  top: 29%;
  left: 29%;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.worker-icon__container {
  display: inline-block;
  position: relative;
  width: 44px;
  height: 44px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.worker-icon__container:hover {
  fill: #ffffff;
  background-color: #2196f3;
}

.worker-icon__container:hover svg {
  fill: #ffffff;
  background-color: #2196f3;
}

.worker-icons {
  padding-left: 32px;
  padding-right: 32px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
    border: 1px solid red;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
    border: 1px solid red;
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
    border: 1px solid red;
  }
}

.clients__title {
  text-align: center;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients li:hover {
  border-color: #2196f3;
  fill: #2196f3;
}

.client-container {
  display: inline-block;
  width: 170px;
  height: 90px;
  border: #afb1b8 solid 1px;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .client-container:not(:last-child) {
    margin-right: 30px;
  }
}

.client-container:hover {
  fill: #2196f3;
}

.client-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client-links:hover {
  fill: #2196f3;
  color: #2196f3;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .clients__list {
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__list {
    flex-wrap: wrap;
    flex-basis: 33, 333%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__container {
    display: block;
  }
}

@media screen and (min-width: 768) and (max-width: 1199px) {
  .footer__container {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer_wrapper {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
  }
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1199px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
  }
}

.addressContactsItem {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address {
  display: block;
}

.address__item {
  margin-bottom: 9px;
  margin-top: 9px;
}

.address__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover {
  color: #2196f3;
}

.footer .address:not(:last-child) {
  margin-bottom: 10px;
}

.footer.contacts.item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-container {
  display: inline-block;
  width: 44px;
  height: 44px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer-social-container {
    margin-bottom: 60px;
  }
}

.footer-social-container:not(:first-child) {
  margin-left: 10px;
}

.second-logo-part-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-social-icons {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-social-links {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links:hover {
  background-color: #2196f3;
  fill: #ffffff;
}

.footer__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__title-container {
    text-align: center;
  }
}

@media screen and (min-width: 768) and (max-width: 1199px) {
  .footer__title-container {
    text-align: center;
  }
}

/*.footer__forms-container {
  margin-left: 93px;
}*/
@media screen and (min-width: 320) and (max-width: 767px) {
  .footer-form-button-container {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768) and (max-width: 1199px) {
  .footer-form-button-container {
    display: block;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200) {
  .footer-form-button-container {
    display: flex;
  }
}

.contact-form {
  position: relative;
}

.contact-form-btn {
  min-width: 200px;
  height: 50px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #2196f3;
  border-radius: 4px;
  color: #ffffff;
  border: none;
}

@media screen and (min-width: 320) and (max-width: 767px) {
  .contact-form-btn {
    position: relative;
    display: block;
    margin-top: 20px;
  }
}

@media screen and (min-width: 768) and (max-width: 1199px) {
  .contact-form-btn {
    position: relative;
    display: block;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1199px) {
  .contact-form-btn {
    position: absolute;
    top: -50%;
    left: 82%;
  }
}

.contact-form-btn:hover {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.333;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #2196f3;
  border-radius: 4px;
}

.contact-form__input:hover {
  border-color: #2196f3;
}

.contact-form__input:hover + .form-input-svg {
  fill: #2196f3;
}

.contact-form__input:focus + .form-input-svg {
  fill: #2196f3;
}

.footer-contact-form__input {
  min-width: 358px;
  height: 50px;
  padding-left: 10px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 4px;
  color: #ffffff;
}

.footer-contact-form__input:hover {
  border-color: #2196f3;
}

.subscribe {
  display: flex;
  padding-top: 20px;
  padding-left: 29px;
}

.icon-subscribe {
  position: relative;
  display: flex;
  left: 75%;
  bottom: 50%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 448px;
  min-height: 581px;
  background-color: #ffffff;
}

.modal-contact-form {
  position: relative;
  min-height: 200px;
  margin: 0 auto;
  padding: 40px;
}

.modal__contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  border: 2px solid #ccc;
  padding-left: 35px;
  margin-bottom: 10px;
}

.modal__contact-form__input:hover {
  border-color: #2196f3;
}

.modal__contact-form__input:hover {
  border-color: #2196f3;
}

.modal__contact-form__input:hover + .form-input-svg {
  fill: #2196f3;
}

.modal__contact-form__input:focus + .form-input-svg {
  fill: #2196f3;
}

.contact-form__box {
  margin-bottom: 20px;
}

.contact-form__box-title {
  margin-bottom: 10px;
}

.contact-form__message {
  width: 100%;
  height: 100px;
  resize: none;
}

.modal-button {
  border: none;
  position: absolute;
  display: inline-block;
  right: 12px;
  top: 12px;
  border: 1px solid gray;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: none;
}

.modal-button:hover {
  background-color: #fff;
  border-color: #2196f3;
}

.icon-krest:hover {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

input {
  font-family: inherit;
}

.modal-contact-form {
  width: 448px;
  min-height: 40px;
  margin: 0 auto;
}

.modal-contact-form__input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  border: 2px solid #ccc;
}

.modal-contact-form__input:not(:last-child) {
  margin-bottom: 20px;
}

.modal-contact-form__input:focus {
  outline: none;
}

.modal-contact-form__input:required:focus:valid {
  border: 2px solid green;
}

.modal-contact-form__input:required:focus:invalid {
  border: 2px solid #2196f3;
}

.modal-contact-form__box {
  margin-bottom: 20px;
}

.modal-contact-form__box-title {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-contact-form__message {
  width: 100%;
  height: 100px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.contact-form__btn {
  min-width: 200px;
  height: 50px;
  cursor: pointer;
  background-color: #2196f3;
  border: none;
  color: #ffffff;
  border-radius: 4px;
}

.contact-form__btn-wrapper {
  display: flex;
  justify-content: center;
}

.contact-form__btn:after {
  position: absolute;
  content: "";
}

.form-title {
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.contact-form__message::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  padding: 12px 16px;
}

textarea {
  outline: none;
}

textarea:focus {
  border: 1px solid #2196f3;
  padding-top: 15px;
  padding-left: 15px;
}

.form-input-svg {
  position: absolute;
  margin-left: 11px;
  margin-top: 11px;
}

.form-input-svg:hover {
  fill: #2196f3;
}

.form-container-input-svg {
  display: flex;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.contact-form-policy-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 30px;
}

.contact-form-policy-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid #000;
  border-radius: 4px;
  margin-right: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.contact-form-policy-label-link {
  color: #2196f3;
  text-decoration: underline;
}

.modal-form-policy:checked + .contact-form-policy-label::before {
  border: none;
  background-image: url("../icon-check.svg");
  fill: #2196f3;
}

/* PORTFOLIO */
button {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: none;
  border: none;
  color: #ffffff;
}

button:focus {
  border: none;
  outline: none;
}

.button__filter {
  display: inline-block;
  border: none;
  padding-right: 22px;
  padding-left: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  min-width: 73px;
  height: 38px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-block:not(:first-child) {
  margin-left: 8px;
}

.card-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #2f303a;
  margin-top: 20px;
}

.card-legend {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.button-panel {
  padding-top: 94px;
  padding-bottom: 50px;
}

.filter-button {
  display: flex;
  justify-content: center;
  align-content: center;
}

.filter-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.cards {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-bottom: 30px;
  margin-right: 25px;
  border: 1px solid #eeeeee;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.cards:hover {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards:nth-child(3) {
  margin-right: 0px;
}

.cards:nth-child(6) {
  margin-right: 0px;
}

.cards:nth-child(9) {
  margin-right: 0px;
}

.cards:nth-child(7) {
  margin-bottom: 0px;
}

.cards:nth-child(8) {
  margin-bottom: 0px;
}

.cards:nth-child(9) {
  margin-bottom: 0px;
}

.grid-container {
  padding-bottom: 94px;
}

.border {
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-style: solid;
  color: #ececec;
}

.card-container-info {
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 20px;
}

/*Portfolio Overlay */
.cards-overlay {
  position: relative;
  overflow: hidden;
}

.cards-overlay:before {
  display: inline-block;
  content: "Технокряк это современная площадка распространения коронавируса. Компании используют эту платформу для цифрового шпионажа и атак на защищённые сервера конкурентов.";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2196f3;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  border-radius: 4px;
}

.cards:hover .cards-overlay::before {
  transform: translateY(0);
}

/* End portfolio Overlay */
/*# sourceMappingURL=main.css.map */