.clients {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;

  }

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }
  &__list {
    display: flex;
    justify-content: center;
  }
  & li:hover {
    border-color: $style-color;
    fill: $style-color;
  }
}
.client-container {
  display: inline-block;
  border: #afb1b8 solid 1px;
  border-radius: 4px;

  @media screen and (min-width: 320px) {
    width: 210px;
    min-height: 90px;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }

  &:not(:last-child) {
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
  }

  &:hover {
    fill: $style-color;
  }
}
.client-container:not(:last-child) {
  @media screen and (min-width: 768px) {
    margin-right: 20px;
  }
}
.client-container:nth-child(odd) {
  @media screen and (min-width: 480px) {
    margin-right: 20px;
  }
}
.client-links {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: $svg-color-main;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: $style-color;
    color: $style-color;
  }
}
.clients__list {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-wrap: wrap;
    flex-basis: 50%;

    justify-content: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    flex-basis: 33, 33%;
    margin: 0 auto;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
