.header-container {
  display: flex;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: space-between;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    align-items: center;
  }
}
.header {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-content: center;

  &__wrapper {
    display: flex;
  }

  &__logo {
    padding-bottom: 25px;
    padding-top: 25px;
  }

  &__box {
    display: flex;
    align-content: center;
    margin-top: auto;
    margin-bottom: auto;
  }

  &__box:not(:first-child) {
    margin-left: auto;
  }
  &__list {
    @media screen and (max-width: 767px) {
      display: inline-block;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: inline-block;
      margin-left: 50px;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      margin-left: 50px;
    }
  }

  &__logo-first {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $style-color;
  }

  &__logo-second {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: $main-color;
  }

  &__contacts {
    display: inline-block;
    margin-left: 331px;
  }

  &__contactsItem:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 16px;
    }
    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
    @media screen and (min-width: 1199px) {
      margin-right: 50px;
    }
  }

  &__contactsLink {
    white-space: nowrap;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: $color-contacts;
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__contactsLink:hover {
    color: $style-color;
    fill: $style-color;
  }

  &__contactsSvg {
    margin-right: 10px;
  }
}

.header__wrapper {
  z-index: 1;

  @media screen and (max-width: 767px) {
    display: inline-block;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background: #fff;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 93px;
  }
  @media screen and (min-width: 1200px) {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: 93px;
    align-items: center;
    width: 100%;
  }
}
.header__wrapper.is-open {
  display: none;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
/* Menu Burger */

.menu-button {
  margin-right: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  &:hover {
    background: none;
    box-shadow: none;
  }

  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

/* Menu Burger END */
