.menu {
  display: flex;
  justify-content: space-between;
  align-content: center;

  &__list {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 93px;
  }

  &__item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  &__link {
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover {
    color: $style-color;
  }
}
.undertitle-active {
  position: relative;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;

  &:before {
    position: absolute;
    content: "";
    height: 48px;
    border-bottom: solid 3px $style-color;
    width: 100%;
    opacity: 1;
  }
}
.undertitle:hover {
  position: relative;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: $style-color;

  &:before {
    position: absolute;
    content: "";
    height: 48px;
    border-bottom: solid 3px $style-color;
    width: 100%;
    opacity: 1;
    color: $style-color;
  }
}
