.menu {
  display: flex;
  justify-content: space-between;
  align-content: center;

  &__list {
    display: flex;

    margin-top: auto;
    margin-bottom: auto;

    @media screen and (min-width: 320px) and (max-width: 768px) {
      display: block;
      margin: 0;
      padding: 0;
      margin-bottom: 60px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__item {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    @media screen and (min-width: 320px) {
      margin: 0;
      padding: 0;
      margin-bottom: 40px;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1200px) {
      display: flex;     
    }
  }

  &__item:not(:last-child) {
    @media screen and (min-width: 767px) {
      margin-right: 50px;
      margin-bottom: 0;
      box-shadow: none;
    }
    @media screen and (min-width: 1199px) {
      margin-right: 50px;
      margin-bottom: 0;
      box-shadow: none;
    }
  }

  &__link {
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover {
    color: $style-color;
  }
}
.undertitle-active {
  position: relative;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: inherit;  

  &:before {
    position: absolute;
    content: "";
    bottom: -32px;
    border-bottom: solid 3px $style-color;
    width: 100%;
    opacity: 1;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      height: 25px;
    }
  }
}
.undertitle:hover {
  position: relative;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: $style-color;

  &:before {
    position: absolute;
    content: "";
    height: 48px;
    border-bottom: solid 3px $style-color;
    width: 100%;
    opacity: 1;
    color: $style-color;
  }
}
