* {
  margin: 0;
  padding: 0;
}
img {
  margin: 0px;
  padding: 0px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;

  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
   
  }
}

.secion-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: $main-color;
}
