    $main-color: #212121;
    $style-color: #2196f3;
    $background: #2f303a;
    $white: #ffffff;
    $color-contacts: #757575;
    $card-border-color: #eeeeee;
    $svg-color-main: #afb1b8;
    $team-section-color: #f5f4fa;
  